<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }} - {{ strapline }}</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <script type="module" src="https://jamesaduncan.github.io/schema-elements/index.mjs"></script>
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
            <h2>{{ strapline }}</h2>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            Copyright &copy; 2025 Schema Host
        </footer>
    </body>
</html>