---
pagination:
    data: datatypes
    size: 1
    alias: datatype
permalink: "/{{ datatype.name }}/"
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SchemaHost - {{ datatype.name }}</title>
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap" rel="stylesheet">
        <script type="module" src="/js/index.mjs"></script>
    </head>

    <body itemid="{{ schema.id }}" itemscope itemtype="https://schema.host/DataType">
        {% render "header.liquid" with datatype as object %}

        <nav>
            <menu itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="/">Home</a>
                </li>
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="/DataTypes">DataTypes</a>
                </li>                
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a id="a" itemprop="{{ datatype.name }}" href="https://schema.host/{{ datatype.name }}">{{ datatype.name }}</a>
                </li>
            </menu>
        </nav>

        <main>
            <base itemprop="url" href="https://schema.host/{{ datatype.name }}">

            {% assign validatorURL = "/" | append: datatype.name | append: "/index.mjs" %}
            <p itemprop="description">{{ datatype.description }}</p>

            {% if datatype.parent %}
            <p>Inherits from <a href="/{{ datatype.parent | split: '/' | last }}">{{ datatype.parent | split: '/' | last }}</a></p>
            {% endif %}


            {% assign pairs = datatype | striptype | stripkeys: "parent", "@id" %}
            {% for pair in pairs %}
                {% assign key = pair[0] %}
                {% assign value = pair[1] %}
                {% if forloop.first == true %}
                <h2>Additional Properties</h2>
                <ul>
                {% endif %}
                <li>
                    {{ key }}: <ul class="set">{% for elem in value %}
                        <li><span itemprop="{{ key }}">{{ elem }}</span></li>
                    {% endfor %}</ul>
                </li>
                {% endfor %}
            </ul>

            <h2>Validation Test</h2>

            <p>The validator for this datatype can be found at: <a itemprop="validator" href="{{ validatorURL }}">https://schema.host{{ validatorURL }}</a></p>

            <form>
                Test validator: <input id="toValidate" type="text"> <button>Valid?</button> <span class="valid">&#x2611;</span>
            </form>

            <script type="module">
                import { validator }from "{{ validatorURL}}";

                const input =document.querySelector('input');
                const microdata = window.Microdata( document )

                input.addEventListener( "input", () => {
                    span.toggleAttribute('hidden', true);
                    const result = validator.apply(microdata, [ input.value ] );
                    if ( result ) {
                        input.setCustomValidity( "" );
                    } else {
                        input.setCustomValidity( "Does not pass validation" );
                    }
                });
                const span = document.querySelector('.valid');
                span.toggleAttribute('hidden', true);
                const form = document.querySelector( 'form' );
                form.addEventListener('submit', (e) => {
                    if ( form.checkValidity() ) {
                        span.toggleAttribute('hidden', false);
                    } else {
                        span.toggleAttribute('hidden', true);
                    }
                    e.preventDefault();
                });
            </script>

        </main>
        
        {% render "footer.liquid" with datatype as object %}

    </body>

</html>
